# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Node
node_modules/
.pnp
.pnp.js

# IDE
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Development
.env
.env.local
.env.*.local

# Build outputs
build/
.next/
out/
